.btn {
  padding: 10px;
  background-color: transparent;
  border: 1px solid #0099bc;

  font-size: 1.11em;
}

.btn:hover {
  box-shadow: 0 0 0 1px #0099bc;
}

.icon {
  font-family: "Icomoon";
}


.table-container {
  min-width: 250px;
  background-color: #fafafa;

  font-family: "Arial", sans-serif;
  color: #333333;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table__header {
  width: 100%;
  background-color: #0099bc;
  color: #fafafa;
  text-transform: capitalize;
}

.table__header-cell,
.table__cell {
  border: 1px solid #0099bc;
}

.table__header-cell {
  padding: 15px 20px;
}

.table__cell {
  padding: 10px 20px;
}



.table__cell:last-of-type {
  text-align: right;
}

.table__delete {
  cursor: pointer;
}

.table__delete:hover {
  color: #0099bc;
}



.add-record {
  padding: 5px;

  border-width: 0 1px 1px;
  border-style: solid;
  border-color: #0099bc;
}

.add-record__label {
  display: block;
  margin: 10px 5px;
  text-align: right;
  text-transform: capitalize;
}

.add-record__input {
  margin-left: 5px;
}

.add-record__open {
  width: 100%;
}

.add-record__btns {
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 100%;
}

.add-record__submit,
.add-record__close {
  width: calc(50% - 2.5px);
}

.add-record__submit {
  background-color: #0099bc;
  color: #fafafa;
}