:root {
  --primary: #454852;
  --accent: #0086f1;
  --dark: #3a3e48;
  --light: #f1f1f1;
  --light-translucent: rgba(193, 193, 193, 0.5);
  --green: #64ff38;
  --green-darker: #81d832;
  --yellow: #fee12b;
  --yellow-darker: #dbbe2b;
  --red: #fe3b39;
  --red-darker: #d63432;
}


.btn {
  padding: 10px;
  border: none;
  background-color: var(--dark);
  outline: none;

  color: inherit;
  font-size: 1em;
  font-weight: normal;
  cursor: pointer;
}

.btn[disabled] {
  background-color: var(--light-translucent);
  color: var(--dark);
  cursor: initial;
}

.btn[disabled]:hover {
  box-shadow: initial;
}

.btn:hover {
  box-shadow: 3px 3px 0 -1px var(--light);
}

.btn--accent {
  background-color: var(--accent);
  color: var(--light);
}

.btn--accent:hover {
  box-shadow: 3px 3px 0 -1px var(--light);
}

.btn:active {
  transform: translate(3px, 3px);
  box-shadow: none;
  /* outline: none; */
}

.icon {
  background-color: transparent;
  border: none;
  font-family: "Icomoon";
  font-size: 1rem;
  cursor: pointer;
}