:root {
  --accent: #0086f1;
  --dark: #3a3e48;
  --primary: #454852;
  --light: #f1f1f1;
  --light-translucent: rgba(193, 193, 193, 0.5);
  --green: #64ff38;
  --green-darker: #81d832;
  --yellow: #fee12b;
  --yellow-darker: #dbbe2b;
  --red: #fe3b39;
  --red-darker: #d63432;
}


.btn {
  padding: 10px;
  border: none;
  background-color: var(--dark);
  outline: none;

  color: inherit;
  font-size: 1em;
  font-weight: normal;
}

.btn:hover {
  box-shadow: 3px 3px 0 -1px var(--light);
}

.btn--accent {
  background-color: var(--accent);
  color: var(--light);
}

.btn--accent:hover {
  box-shadow: 3px 3px 0 -1px var(--light);
}

.btn:active {
  transform: translate(3px, 3px);
  box-shadow: none;
  outline: none;
}

.icon {
  font-family: "Icomoon";
  cursor: pointer;
}

.table__edit {
  color: var(--yellow-darker);
}

.table__edit:hover {
  color: var(--yellow);
}
.table__cancel,
.table__delete {
  color: var(--red-darker);
}

.table__cancel:hover,
.table__delete:hover {
  color: var(--red);
}

.table__submit {
  color: var(--green-darker);
}

.table__submit:hover {
  color: var(--green);
}


.table-container {
  background-color: var(--primary);
  color: var(--light);
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table__header {
  width: 100%;
  background-color: var(--dark);
  color: var(--accent);
  font-size: 1.11em;
  letter-spacing: 0.05em;
  text-transform: capitalize;
}

.table__header-cell {
  padding: 20px 10px;
}

.table__row {
  border-bottom: 1px solid rgba(255,255,255,0.2);
  letter-spacing: 0.025em;
}

.table__row:last-child {
  border-bottom-width: 10px;
  border-bottom-color: #3a3e48;
}

.table__row--edit {
  background-color: rgba(51, 51, 51, 0.15);
}

.table__row:hover {
  background-color: rgba(255,255,255,0.05);
}

.table__cell {
  padding: 15px 25px;
}

.table__cell:nth-last-child(-n+2) {
  padding: 15px 10px;
}

.table__cell:last-child {
  padding-right: 25px;
}

.table__cell-input {
  box-sizing: content-box;
  margin-bottom: -2px;
  padding: 5px;
  border: none;
  border-bottom: 2px solid var(--light-translucent);
  background-color: transparent;

  font-size: inherit;
  color: inherit;
}


.add-record {
  padding: 10px;
}

.add-record__field {
  display: block;
  margin: 0 0 10px;
  text-align: right;
  text-transform: capitalize;
}

.add-record__input {
  margin-left: 5px;
  padding: 5px 10px;
  border: none;
  border-bottom: 2px solid var(--light-translucent);
  background-color: rgba(0, 0, 0, 0.1);
  color: var(--light);
  font-size: 1em;
}

.table-container input[type=text]:hover,
.table-container input[type=text]:focus {
  border-color: var(--accent);
  outline: none;
}

.add-record__open {
  width: 100%;
}

.add-record__btns {
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 15px;
}

.add-record__submit,
.add-record__close {
  width: calc(50% - 5px);
}